<html>
  <head>
    <%= js_include_tag "jquery-1.2.3", "jquery.fn", "jquery.print", "screw.builder", 
                       "screw.matchers", "screw.events", "screw.behaviors" %>
        
    <%= css_include_tag "screw.css" %>
  </head>
  <body>
    <iframe id="dom" src="<%= @spec_url %>" style="display: none"></iframe>  
    <script>
      iframeWindow = $("#dom").contents()[0].defaultView;      
      runLivequeries = function() {
        if(iframeWindow.$.livequery) {
          queries = iframeWindow.$.livequery.queries;
          for(var i = 0; i<queries.length;i++) {
            queries[i].run();
          }
        }
      }
          
      Screw.Unit(function() {
        before(function() {
          $ = iframeWindow.$;
          $.fn.fireEvent = function(event) {
            runLivequeries();
            for(var i=0; i<this.length;i++) {
              var node = this[i];
              var data = iframeWindow.$.cache[iframeWindow.$.data(node)];
              eventObj = data && data.events && data.events[event];
              if(eventObj) {
                for(prop in eventObj) eventObj[prop].call(node, document.createEvent("MouseEvent"))
              }
            }
            return this;
          }
        })
        <%= catch_content :for_layout %>
      });
    </script>
  </body>
</html>